env {
    PATH = "${HOME}/BRAKER/scripts:${HOME}/RATT:${baseDir}/ABACAS2:${HOME}/OrthoMCL/bin:${HOME}/OrthoFinder_source:${HOME}/augustus/bin:${HOME}/last-581/src/:${HOME}/bin:${HOME}/augustus/scripts:${HOME}/SNAP/:$PATH"
    RATT_HOME = "${HOME}/RATT"
    RATT_CONFIG = "${HOME}/RATT/RATT.config_euk_Pseudo_NoSpliceSite"
    GT_RETAINIDS = "yes"
    PERL5LIB = "${HOME}/RATT/:${baseDir}/ABACAS2/:$PERL5LIB"
    PFAM = "${HOME}/Pfam-A.hmm"
    AUGUSTUS_CONFIG_PATH = "${HOME}/Augustus/config"
    FILTER_SHORT_PARTIALS_RULE = "${baseDir}/data/filters/filter_short_partials.lua"
    PFAM2GO = "${baseDir}/data/pfam2go/pfam2go.txt"
}

params.GO_OBO = "${HOME}/go.obo"
params.CIRCOS_CONFIG_FILE = "${baseDir}/data/circos/circos.debian.conf"
params.CIRCOS_BIN_CONFIG_FILE = "${baseDir}/data/circos/circos.bin.debian.conf"
params.ORTHOMCL_CONFIG_FILE = "${baseDir}/data/orthomcl/orthomcl_sqlite.config"
params.SPECFILE = "${baseDir}/data/speck/output_check.lua"
params.AUGUSTUS_EXTRINSIC_CFG = "${baseDir}/data/augustus/extrinsic.MPE.cfg"

executor {
    name = 'local'
    queueSize = 8
    pollInterval = '3sec'
}

//process {
//  executor = 'local'
//  maxForks = 1
//}

//executor {
//  pollInterval = '3sec'
//  queueSize = 1
//}
