manifest {
    homePage = 'http://github.com/sanger-pathogens/companion'
    description = 'COMprehensive Parasite ANnotatION'
    mainScript = 'annot.nf'
}

includeConfig 'params_default.config'

profiles {
	docker { includeConfig 'loc_docker.config' }
	sanger { includeConfig 'loc_sanger.config' }
	sanger_farm { includeConfig 'loc_sanger_farm.config' }
	travis { includeConfig 'loc_travis.config' }
}

plugins {
	id 'nf-sqldb@0.4.1'
}

sql {
	db {
		orthomcl {
			url = 'jdbc:mysql://127.0.0.1:3306/orthomcl'
            user = 'haessar'
            password = '***REMOVED***'
		}
	}
}
