params {
    // input sequence
    inseq = "${baseDir}/example-data/PPRFG01_05.fasta"

    // reference data -- paths must be absolute
    ref_dir = "${baseDir}/example-data/references/plasmodium"
    ref_species = "Pf3D7_05"

    // output directory, if desired
    dist_dir = "${baseDir}/example-output"

    // enable/disable parts of the pipeline
    run_exonerate          = false
    do_contiguation        = true
    run_braker             = true
    do_circos              = true
    do_pseudo              = true
    make_embl              = true
    use_reference          = true
    fix_polycistrons       = false
    truncate_input_headers = true
    transfer_tool          = "liftoff"
    is_fungi               = false
    use_existing           = true
    is_softmasked          = false
    mit_ignore_ratt_report = false

    // make submission-compatible EMBL files
    embl_ena_submission = false

    // naming patterns
    GENOME_PREFIX = "PPRFG01"
    CHR_PATTERN = "PPRFG01_(%w+)"
    MAX_GENE_LENGTH = 20000
    MAX_OVERLAP = 5
    ABACAS_BIN_CHR = "PPRFG01_0"
    alphanumeric_ids = false

    // ABACAS min match length and similarity
    ABACAS_MATCH_SIZE = 500
    ABACAS_MATCH_SIM = 85

    // RATT parameters
    RATT_TRANSFER_TYPE = 'Species'

    // AUGUSTUS parameters
    AUGUSTUS_GENEMODEL = 'partial'
    AUGUSTUS_HINTS_MAXINTRONLEN = '2000'
    AUGUSTUS_SCORE_THRESHOLD = 0.8

    // Weight description file
    // This is a Lua script that needs to implement a function
    // `get_weight(gene, regionmapping)'' and assigns a number to be used as
    // weight in finding an optimal chain of genes in overlapping clusters
    // Use 'weight_plasmodium.lua' or 'weight_kinetoplastid.lua' for plasmodium-
    // or kinetoplastid-specific functions
    WEIGHT_FILE = "${baseDir}/data/weight/weight_multiexon_generic.lua"

    // covariance models for Infernal
    NCRNA_MODELS = "${baseDir}/data/cm/rnas.cm"

    // Template for spec check output
    SPECK_TEMPLATE = "html"

    // Transcript (e.g. RNA-seq) evidence file to use for hints generation
    // (GTF as produced by cufflinks/cuffmerge/...)
    //TRANSCRIPT_FILE = ""

    // EMBL file metadata
    EMBL_AUTHORS = "Foo Bar"
    EMBL_TITLE = "Baz"
    EMBL_PUBLICATION = "Quux"
    EMBL_GENOME_TYPE = "XXX"
    EMBL_CLASSIFICATION = "XXXX"
    EMBL_ORGANISM = "Plasmodium praefalciparum strain G01"
    EMBL_PROJ_ACCESSION = "123456"
    EMBL_DESCRIPTION = "Foo bar"

    // output GAF metadata
    TAXON_ID = 5833
    DB_ID = "Companion"
}
